.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px !important;
    width: 33%;
    padding: 15px;
    margin-left: 530px;
    border-right: 0;
    border-left: 0;
    margin-top: 220px;
    border: 2px solid black;
    border-radius: 10px;
}
.button{
    border: none;
    background: none; 
}
.btn{
    text-align: center !important;
    margin-left:1050px !important;
    margin-top: -70px !important;
    border: none !important;
    width: 180px;
    height: 40px;
    font-size: 18px !important;
    border-radius: 10px;
    border: none !important;
    background-color: brown !important;
}
.form-control{
    border: 0 !important ;
}
.form-control:focus{
    box-shadow: none !important;
}
.par{
    text-align: center;
}